<div class="container mt-5 mb-5">
    <h1 class="text-center"> About</h1>
    <img src="" width="100%">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos culpa soluta corrupti in mollitia error laborum quidem molestiae ipsum ex, similique odio sed ad esse sunt, adipisci, placeat fugit? Dolores?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id harum officiis asperiores accusantium quibusdam adipisci molestiae dignissimos temporibus voluptatibus reiciendis minus fuga, quisquam iusto dolor eveniet mollitia. Corrupti, dicta cupiditate?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, provident exercitationem. Consequuntur, eveniet a? Est natus, ipsam consequatur maiores minus error, exercitationem animi eius laboriosam consequuntur labore, inventore omnis recusandae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore officia eaque nisi aliquid. Sint amet ad, eaque recusandae sapiente animi vel dicta eius corporis autem, quod, itaque enim labore?
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim minus eum mollitia. Corporis quis repellendus minus quo quasi temporibus rem natus quam! Eligendi sequi eos earum sit assumenda suscipit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium optio porro fugiat quasi maxime laborum ullam in nihil nisi. Maiores ducimus obcaecati natus temporibus perferendis itaque iusto molestiae inventore?
        <br/>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis et esse sit quae, optio natus dolorum molestias, beatae nihil nam culpa? Minima dignissimos voluptate dicta, provident iste ipsam quas laborum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur eos ratione tempora ipsa iste error sunt aliquid, quia quasi dolore impedit cupiditate consequuntur a adipisci atque rem perferendis provident.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente cum tempora atque quidem enim voluptatibus tempore reiciendis numquam aut excepturi impedit vero minus, amet omnis voluptas! Odit corporis sequi quod!
        <br/>
    </p>
</div>